Source: taqosurvey
Section: devel
Priority: optional
Maintainer: Paco Maintainers <support@pacoapp.com>
Build-Depends: jq, chrpath
Standards-Version: 4.5.0
Homepage: https://pacoapp.com/

Package: taqosurvey
Architecture: amd64
Depends: libsqlite3-dev, libglib2.0-bin, xprintidle, ${shlibs:Depends}, ${misc:Depends}
Description: Taqo for Linux
 Taqo provides onboarding, notifications, surveys, and sensor data
 collection for UX/DX research.
